@font-face {
    font-family: 'Metropolis';
    src: url("../fonts/metropolis/Metropolis-Regular.otf") format('opentype');
  }
  
  
  .compare-donutchart {
    display: flex;
    }
    .comparechart{
      width: 140px; 
      margin-top: -15px;
  
    }
    .donutchart-text {
      color: #000;
      font-family: Metropolis;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      margin-top: -5px;
      margin-left: 20px;
    }
  
    .compare-donut-price{
      color: #333;
      font-family: Metropolis;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px; 
    }
    