@font-face {
    font-family: 'Metropolis';
    src: url("../fonts/metropolis/Metropolis-Regular.otf") format('opentype');
}


.compare-brdcrumb {
    display: flex;
    flex: 1;
    margin: 10px;
    font-weight: 400;
}